body{
  display: flex;
  justify-content: center;
  align-items: stretch;
  min-height: 100vh;
  min-height: 100dvh;
}
article{
  margin:0;
}
main.container{
  min-height: 100% !important;
  padding-inline: 1rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.button-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.loader{
  margin-bottom: 10px;
}

@media only screen and (max-width: 768px){
  .input-group{
    flex-direction: column;
  }
  #SELECT_COUNTRY_CODE{
    max-width: initial !important;
  }
}

.loader {
  border: 4px solid #f3f3f3;
  border-radius: 50%;
  border-top: 4px solid #333;
  width: 24px;
  height: 24px;
  animation: spin 1s linear infinite;
  display: inline-block;
  margin-left: 10px;
  align-self: center;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}